absl-py==0.15.0
addict==2.4.0
aiohappyeyeballs==2.4.3
aiohttp==3.10.10
aiosignal==1.3.1
asttokens==2.4.1
astunparse==1.6.3
async-timeout==4.0.3
attrs==24.2.0
blinker==1.8.2
cachetools==5.5.0
certifi==2024.8.30
cftime==1.6.4
charset-normalizer==3.3.2
click==8.1.7
comm==0.2.2
ConfigArgParse==1.7
configobj==5.0.8
contourpy==1.3.0
cycler==0.12.1
dash==2.18.1
dash-core-components==2.0.0
dash-html-components==2.0.0
dash-table==5.0.0
decorator==5.1.1
distlib==0.3.8
docutils==0.21.2
etw-pytorch-utils @ git+https://github.com/imankgoyal/etw_pytorch_utils.git@7c5b5df0696cd1876eeccb3b4b4609e4b675e293
exceptiongroup==1.2.2
executing==2.1.0
fastjsonschema==2.20.0
Flask==3.0.3
flatbuffers==1.12
fonttools==4.53.1
frozenlist==1.4.1
fsspec==2024.9.0
future==1.0.0
gast==0.4.0
google-auth==2.35.0
google-auth-oauthlib==0.4.6
google-pasta==0.2.0
grpcio==1.34.1
h5py==3.1.0
hydra-core==0.11.3
idna==3.8
importlib_metadata==8.4.0
importlib_resources==6.4.5
ipython==8.18.1
ipywidgets==8.1.5
itsdangerous==2.2.0
jedi==0.19.1
Jinja2==3.1.4
joblib==1.4.2
jsonpatch==1.33
jsonpointer==3.0.0
jsonschema==4.23.0
jsonschema-specifications==2023.12.1
jupyter_core==5.7.2
jupyterlab_widgets==3.0.13
keras==3.6.0
keras-nightly==2.5.0.dev2021032900
Keras-Preprocessing==1.1.2
kiwisolver==1.4.7
libclang==18.1.1
lmdb==1.5.1
Markdown==3.7
markdown-it-py==3.0.0
MarkupSafe==2.1.5
matplotlib==3.9.2
matplotlib-inline==0.1.7
mdurl==0.1.2
mkl-fft @ file:///croot/mkl_fft_1695058164594/work
mkl-random @ file:///croot/mkl_random_1695059800811/work
mkl-service==2.4.0
ml-dtypes==0.4.1
msgpack==1.0.8
msgpack-numpy==0.4.8
multidict==6.1.0
namex==0.0.8
nbformat==5.10.4
nest-asyncio==1.6.0
netCDF4==1.7.1.post2
networkx==3.2.1
numpy==1.22.4
oauthlib==3.2.2
omegaconf==1.4.1
open3d==0.18.0
opt-einsum==3.3.0
optree==0.13.0
packaging==24.1
pandas==2.2.2
parso==0.8.4
pexpect==4.9.0
Pillow==9.3.0
platformdirs==4.3.3
plotly==5.24.1
plyfile==1.1
-e git+https://github.com/erikwijmans/Pointnet2_PyTorch.git@b5ceb6d9ca0467ea34beb81023f96ee82228f626#egg=pointnet2
pointnet2_ops @ file:///home/yangqing/Pointnet2_PyTorch/pointnet2_ops_lib
progressbar==2.5
progressbar2==4.5.0
prompt_toolkit==3.0.47
propcache==0.2.0
protobuf==3.20.3
psutil==6.0.0
ptyprocess==0.7.0
pure_eval==0.2.3
pyasn1==0.6.1
pyasn1_modules==0.4.1
pygem @ git+https://github.com/mathLab/PyGeM.git@3c11eb1d3dae0ef4ee667354668a02af499dcb19
Pygments==2.18.0
pyparsing==3.1.4
pyquaternion==0.9.9
python-dateutil==2.9.0.post0
python-utils==3.9.0
pytorch-lightning==0.7.1
pytz==2024.2
PyYAML==6.0.2
referencing==0.35.1
requests==2.32.3
requests-oauthlib==2.0.0
retrying==1.3.4
rich==13.9.2
rpds-py==0.20.0
rsa==4.9
scikit-learn==1.5.2
scipy==1.13.1
shapely==2.0.6
six==1.15.0
stack-data==0.6.3
statistics==1.0.3.5
tenacity==9.0.0
tensorboard==2.11.2
tensorboard-data-server==0.6.1
tensorboard-plugin-wit==1.8.1
tensorboardX==2.6.2.2
tensorflow==2.17.0
tensorflow-estimator==2.5.0
tensorflow-gpu==2.5.0
tensorflow-io-gcs-filesystem==0.37.1
termcolor==1.1.0
threadpoolctl==3.5.0
torch==1.9.1
torch-geometric==2.6.1
torchaudio==0.9.0a0+a85b239
torchvision==0.10.1
tornado==6.4.1
tqdm==4.66.5
traitlets==5.14.3
typing_extensions==4.12.2
tzdata==2024.1
urllib3==2.2.2
visdom==0.2.4
wcwidth==0.2.13
websocket-client==1.8.0
Werkzeug==3.0.4
widgetsnbextension==4.0.13
wrapt==1.12.1
xarray==2024.7.0
yacs==0.1.8
yarl==1.15.1
zipp==3.20.1
git+https://github.com/imankgoyal/etw_pytorch_utils.git@v1.1.1#egg=etw_pytorch_utils